<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
          crossorigin="anonymous"></script>
  <link th:href="@{/style.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/basic.js}"></script>

  <title>스파르타 블로그</title>

  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">



</head>

<body>
<div class="mytitle" style="position:relative;">
  <!--headr 추가 부분-->
  <div id="login-true" style="display: none">
    <div id="header-title-login-user">SPARTA's BLOG</div>
    <button id="write-button" onclick="open_box()">소식 기록하기</button>
    <a id="login-text" href="javascript:logout()">
      로그아웃
    </a>
  </div>
  <div id="login-false" >
    <div id="header-title-login-user">SPARTA's BLOG</div>
<!--    <button id="write-button" onclick="open_box()">소식 기록하기</button>-->
    <a id="sign-text" href="/api/user/signup">
      회원가입
    </a>
    <a id="login-text" href="/api/user/login">
      로그인
    </a>
  </div>

  <!--/headr 추가 부분-->
</div>
<!--<div class="mytitle">-->
<!--  <h1>SPARTA's BLOG</h1>-->
<!--  <button onclick="open_box()">소식 기록하기</button>-->
<!--</div>-->
<div class="mypost" id="post-box">
<!--  <div class="form-floating mb-3">-->
<!--    <input id="inputUsername" type="text" class="form-control" placeholder="이름" name="username">-->
<!--    <label>이름</label>-->
<!--  </div>-->
<!--  <div class="form-floating mb-3">-->
<!--    <input id="inputPassword" type="password" class="form-control" placeholder="비밀번호" name="password">-->
<!--    <label>비밀번호</label>-->
<!--  </div>-->
  <div class="form-floating mb-3">
    <input id="inputTitle" type="text" class="form-control" placeholder="제목" name="title">
    <label>제목</label>
  </div>
  <div class="form-floating">
        <textarea id="contents" class="form-control" placeholder="공유하고 싶은 소식을 입력하세요." name="contents"
                  style="height: 150px"></textarea>
    <label>공유하고 싶은 소식을 입력하세요.</label>
  </div>
  <div class="mybtns">
    <button onclick="writePost()" type="button" class="btn btn-dark">기록하기</button>
    <button onclick="close_box()" type="button" class="btn btn-outline-dark">닫기</button>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th style="width: 5%" scope="col">번호</th>
    <th style="width: 20%" scope="col">이름</th>
    <th style="width: 50%" scope="col">제목</th>
    <th style="width: 25%" scope="col">날짜</th>
  </tr>
  </thead>
  <tbody id="cards-box">
  </tbody>
</table>

</body>

</html>